.col-sm-6.col-md-3
  .thumbnail
    = link_to book_path(book.id) do
      %img{:alt => "#{book.image_url}", :src => "#{book.image_url(:medium)}"}
    .caption
      %h3
        = book.title
      %h5
        Author:
        = book.author.full_name if book.author
      %h5
        Category:
        = book.category.title if book.category
      = form_for order_item, remote: true do |f|
        %h4.text-right
          Unit Price:
          %span{:style => "color: green"}= number_to_currency book.price
        .input-group
          = f.number_field :quantity, value: 1, class: "form-control", min: 1, max: book.stock
          .input-group-btn
            = f.hidden_field :book_id, value: book.id
            = f.submit "Add to Cart", class: "btn btn-primary",render: 'nav'