%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Home
    / Collect the nav links, forms, and other content for toggling

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Library",books_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Category
            %b.caret
          %ul.dropdown-menu{:role => "menu"}
            - Category.all.each do |category|
              %li
                %a= link_to_unless_current "#{category.title}", books_path(category: category)

      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "Hello #{current_user.first_name}",edit_user_path(current_user)
          %li= image_tag(current_user.avatar.url) if current_user.avatar?
          %li= link_to 'Logout', destroy_user_session_path, :method => :delete
          %li= link_to "Admin panel", rails_admin.index_path('Book') if current_user.admin?
        - else
          %li
            %a{:href => new_user_session_path} Login
          %li
            %a{:href => new_user_registration_path} Registration
          %li

        %li.pull-right
          = render 'layouts/cart'
        %li.dropdown.pull-right
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Language
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a= link_to_unless_current raw("English"), locale: "en"
            %li
              %a= link_to_unless_current raw("Russian"), locale: "ru"

%nav.navbar-inner